@{
    ViewData["Title"] = "Home Page";
}

<header>
    <h1>Giới thiệu</h1>
</header>

<section>
    <nav>
        <ul>
            <li><a href="~/trang-chu">BẢN THÂN</a></li>
            <li><a href="~/gioi-thieu-nhom">NHÓM</a></li>
        </ul>
    </nav>

    <article>
        <h1 style="color: brown; font-style: italic">Phạm Anh Tuấn</h1>
        <p>_________________________________</p>
        <img src="~/image/anh.png" style="width:150px; height: 150px" />
    </article>
</section>

<footer>
    <p style="font-size:24px">Copyright &copy;Phạm Anh Tuấn - @DateTime.Now.Year</p>
</footer>